body {
    background-color:#000000;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 3.5;
    font-size: large;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
    background-image:
        linear-gradient(rgba(112, 112, 112, 0.55), rgb(0, 0, 0)),
        url(https://img.freepik.com/fotos-premium/twilight-serenity-relaxando-purple-e-azul-fundos-de-jogo_1223255-646.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
header {
    height: 70px;
    display: flex; 
    align-items: center;   
    justify-content: space-between;
    padding: 0 8%;
    background-color: rgb(133, 3, 3);
    border-bottom: 1px solid rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 10; 
}
.nomedaclasse {
    background-color: #524747;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border-color: rgb(252, 253, 253);
    font-size: 20px;
    font-weight: bold;
}
.logo {
    font-size: 25px;
    font-weight: bold;
}
.logo::first-letter {
    color: blue;
}
.nomedaclasse a:hover {
    color: darkred;
    font-size: 100px;
}
.destaque img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    display: block;
}
.botao {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #cb1111, #fc2525);
    padding: 15px 35px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(37, 117, 252, 0.6);
    transition: all 0.3s ease;
}

.botao:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 0 30px rgba(37, 117, 252, 0.9);
    background: linear-gradient(135deg, #7b2ff7, #00c6ff);
}

.botao:active {
    transform: translateY(0) scale(0.98);

}

.destaque {
    min-height: 520px;
    position: relative;
    overflow: hidden;
}

.destaque::after {
    content: ""; 
    position: absolute;
    inset: 0;
    background: 
        linear-gradient(
            90deg,
            rgba( 0, 0, 0, 0.95),
            rgba(0, 0, 0, 0.65),
            rgb(0, 0, 0, 0.15)
        );
}

.destaque-conteudo {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    max-width: 620px;
}
